<div id="content" #content> 
  <mat-card> 
 <div>
  <input type="button" value="CPTURE" (click)="generatePDF()"/> 
  </div> 
  </mat-card> 
 </div> 
 <div style="margin-left:200px"> 
  <mat-card> 
  <table id="contentToConvert" > 
  <tr > 
  <th style="text-align:center">Column1</th> 
  <th>Column2</th> 
  <th>Column3</th> 
  </tr> 
  <tr> 
  <td>Row 1</td> 
  <td>Row 1</td> 
  <td>Row 1</td> 
  </tr> 
  <tr> 
  <td>Row 2</td> 
  <td>Row 2</td> 
  <td>Row 2</td> 
  </tr> 
  
  </table> 
  
  </mat-card> 
 </div> 


<router-outlet></router-outlet>